<div class="popup-wrapper popup">
    <div class="escape-icon" data-popup-close></div>
    <div class="content">
        <div class="popup-title">
            {{ title }}
        </div>
        <div class="popup-content">
            <div class="inner-content">
                {{ content }}
            </div>
            <button class="btn btn-secondary" data-popup-close>
                {{ close }}
            </button>
        </div>
    </div>
</div>
